<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="home">E-Commerce</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="row">
        <div *ngIf="menuType === 'default'" class=" col-12 input-group">
            <input style="margin-right: 20px;" type="search" class="  rounded" placeholder="Search" aria-label="Search"
                aria-describedby="search-addon" />
            <button type="button" class="btn btn-outline-warning" data-mdb-ripple-init>search</button>
        </div>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li *ngIf="menuType === 'default'" class="nav-item active">
                <a class="nav-link" routerLink="home">Home </a>
            </li>
            <li *ngIf="menuType === 'default'" class="nav-item">
                <a class="nav-link" routerLink="sellar-auth">Seller</a>
            </li>
            <li *ngIf="menuType === 'default'" class="nav-item">
                <a class="nav-link" href="#">Login </a>
            </li>
            <li *ngIf="menuType === 'sellar'" class="nav-item">
                <a class="nav-link" routerLink="sellar-home">Product List</a>
            </li>
            <li *ngIf="menuType === 'sellar'" class="nav-item">
                <a class="nav-link" routerLink="sellar-add-product">Add Product</a>
            </li>
            <li *ngIf="menuType === 'sellar'" class="nav-item">
                <a class="nav-link" (click)="logout()">Logout</a>
            </li>
            <li *ngIf="menuType === 'sellar'" class="nav-item">
                <a class="nav-link">{{sellarName}}</a>
            </li>

        </ul>


    </div>
</nav>